.ava_ava_add {
    width: 70%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
   
.ava_add {
    width: 50%;
    height: 40px;
    background: #f89a4c;
    border-radius: 48px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 25px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 600;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    z-index: 1;
    cursor: pointer;
    box-sizing: border-box;
    padding-top: 1%;
    padding-bottom: 1%;
    border: none;
    margin-top: 5%;
}

.heading_add {
    display: block;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}


.ava_input__wrapper {
    width: 100%;
    position: relative;
    margin: 5% 0;
    text-align: center;
}


.input__file {
    position: absolute;
    width: 100%;
    height: 97%;
    margin-left: -200px;
}

.ava_input__file {
    opacity: 0;
    position: absolute;
}

.ava_input__file-icon-wrapper {
height: 30%;
width: 30%;
margin-right: 10%;
display: flex;
align-items: center;
justify-content: center;
border-right: 2px solid #fff;
}

.ava_input__file-button-text {
line-height: 1;
padding-top: 40px;
}

.ava_input__file-button {
width: 100%;
max-width: 70%;
height: 60px;
background: #f89a4c;
color: #fff;
font-size: 1.125rem;
font-weight: 700;
display: flex;
align-items: center;
justify-content: flex-start;
border-radius: 13px;
cursor: pointer;
margin: 0 auto;
}

.ava_massage {
  display: none;
  z-index: 3;
    position: fixed;
    background: #F8F8F8;
    height: 35%;
    width: 550px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 0px 5px rgba(184, 175, 143, 0.5));
}

.closebtn {
    position: fixed;
    right: 13px;
    top:10px;
    margin-left: 15px;
    color: gray;
    font-weight: bold;
    float: right;
    font-size: 26px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

@media only screen and (max-width: 800px) {
    .ava_massage {
        width: 350px;
        height: 220px;
    }
      .heading_add {
        font-size: 20px;
    }

    .ava_input__file-button-text {
        line-height: 1;
        padding-top: 40px;
        font-size: 18px;
    }
    .ava_input__file-button {
        max-width: 95%;
    }
    .ava_add {
        font-size: 19px;
    }
    .input__file {
        position: absolute;
        width: 100%;
        height: 97%;
        margin-left: -123px;
    }
}
