::-webkit-scrollbar {
    background: rgba(209, 121, 17, 0.16);
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    border: 1px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb {
    background-color: #FFA96A;
    border-radius: 20px;
}
*{
    margin: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
    font-family: 'PT Sans', sans-serif;
}
.wapper {
    background: url(/images/recipes/fonLight.png) no-repeat center center;
    background-size: cover;
    position: fixed;
    z-index: -1;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.main {
    display: flex;
    width: 90%;
    margin-top: 30px;
    margin-left: 8%;
    height: 85vh;
}
.note {
    width: 78%;
}
.shoppingList {
    width: 35.5%;
    display: flex;
    flex-direction: column;
}
.shoppingListText {
    font-size: 27px;
    margin-left: 4.5%;
    margin-top: 12px;
}
.shoppingListBlocks {
    width: 25%;
    margin-top: 15px;
    overflow-y: scroll;
    height: 80vh;
    margin-top: 4%;
    position: absolute;
    background: url(/images/shoppingList/блокнот.png) center center;
}


.shoppingListBlocks::-webkit-scrollbar {
    width: 5px;
}

.shoppingListBlock {
    width: 94%;
    height: 145px;
    background: #ffffff;
    border-radius: 7.5px;
    display: flex;
    margin-left: 2%;
    /* margin-bottom: 0%; */
    margin-top: 4%;
    border: 0.1vw solid #0000001a;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.2));
}
.shoppingListPicture {
    width: 30%;
    height: 60%;
    background: #F7F7F7;
    margin-left: 3.6%;
    margin-top: 5%;
}
.blockText {
    width: 60%;
    height: 100%;
    /* margin-left: 4.5%; */
    /* margin-top: 2%; */
    box-sizing: border-box;
    padding-top: 5%;
    padding-left: 5%;
}
.nameProductText {
    font-size: 20px;
}
.amountText {
    font-size: 14px;
    margin-top: 5%;
}
.priceText{
    font-size: 14px;
}
.vitaminsText {
    font-size: 11.25px;
}
.cross {
    margin-top: -2%;
    width: 2vw;
    height: 2vw;
    box-sizing: border-box;
    text-align: center;
    margin-left: 93%;
    position: absolute;
}

.chooseProducts {
    width: 55%;
    background: white;
    box-sizing: border-box;
    padding: 2%;
    border-radius: 20px;
}
.chooseProductsText {
    font-size: 27px;
    margin-left: 1.9%;
    font-family: 'Roboto', sans-serif;
}
.category {
    width: 100%;
    height: 90px;
    margin-top: 5px;
    /* background: #F1F1F1; */
    border-radius: 18.75px;
}
.categoryText {
    font-size: 13.5px;
    margin-left: 2%;
    padding-top: 6px;
    font-family: 'Roboto', sans-serif;
}
.categoryBlocks{
    height: 70px;
    width: 96%;
    margin: 0 auto;
    /* display: flex; */
    margin-top: 5px;
    overflow-x: auto;
    /* flex-wrap: wrap; */
    white-space: nowrap;
    overflow-y: hidden;
}
.categoryBlock1 {
    margin-bottom: 7px;
    width: 60px;
    height: 60px;
    background: #8C8C8C;
    border-radius: 28.5px;
    margin-right: 10px;
    display: inline-block;
}

.categoryBlocks::-webkit-scrollbar {
    height: 5px;
}

.popularity {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.select {
    position: relative;
    background: #FFC052;
    border-radius: 6px;
    width: 28%;
    height: 100%;
}
.select select {
    background: none;
    border: 0;
    padding: 4%;
    width: 97%;
}

.inputSearchText {
    width: 30%;
}

.productSelectionBox {
    width: 100%;
    margin-top: 25px;
    height: 55vh;
}
.productSelectionBox1 {
    width: 94%;
    height: 50vh;
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.productBox {
    width: 165px;
    height: 215px;
    background: #ffffff;
    border: solid 0.1vw #80808045;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 15px;
    filter: drop-shadow(0px 0px 5px rgba(184, 175, 143, 0.5));
}
.productName {
    width: 100%;
    height: 142px;
    text-align: center;
    line-height: 18px;
    font-size: 18px;
}
.amount {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
}
.amountText1 {
    font-size: 14px;
    width: 70%;
    line-height: 30px;
    text-align: center;
}
.amountInput {
    width: 30%;
    border: 0;
    border-radius: 20px;
    text-align: center;
}
