::-webkit-scrollbar {
    background: rgba(209, 121, 17, 0.16);
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    border: 1px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb {
    background-color: #FFA96A;
    border-radius: 20px;
}
*{
    margin: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
    font-family: 'PT Sans', sans-serif;
}
.wapper {
    background: url(/images/recipes/fonLight.png) no-repeat center center;
    background-size: cover;
    position: fixed;
    z-index: -1;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.error {
    width: 100vw;
    font-size: 29px;
    color: #7f7f7f;
    text-align: center;
    box-sizing: border-box;
    margin-top: 15vh;
}
.btn {
    background: #FFC700;
    width: 100%;
    font-size: 25px;
    color: #FFFFFF;
    border-radius: 100px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    padding-top: 5%;
    padding-bottom: 5%;
    box-sizing: border-box;
    margin-top: 10%;
    word-break: break-all;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), inset 0px 4px 4px rgb(255 255 255 / 25%);
}
.blockAuth {
    width: 30vw;
    margin: auto;
}



.main {
    display: flex;
    width: 90%;
    margin-top: 30px;
    margin-left: 8%;
    height: 85vh;
}
.note {
    width: 78%;
}
.shoppingList {
    display: block;
    width: 35.5%;
    display: flex;
    flex-direction: column;
}
.shoppingListText {
    font-size: 27px;
    margin-left: 4.5%;
    margin-top: 12px;
}
.shoppingListBlocks {
    width: 100%;
    overflow-y: scroll;
    height: 88%;
    margin-top: 10vh;
    position: absolute;
    box-shadow: -8px 0 6px -5px rgb(72 0 0 / 50%);
}

.noteImg {
    width: 25%;
    height: 85vh;
    position: absolute;
    background: url(/images/shoppingList/allNote.png) no-repeat center center;
    background-size: cover;
    box-shadow: 0 5px 5px -5px rgb(72 0 0 / 50%);
}

.shoppingListBlocks::-webkit-scrollbar {
    width: 5px;
}

.shoppingListBlock {
    width: 94%;
    height: 145px;
    background: #ffffff;
    border-radius: 7.5px;
    display: flex;
    margin-left: 2%;
    /* margin-bottom: 0%; */
    margin-top: 4%;
    border: 0.1vw solid #0000001a;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.2));
}
.shoppingListPicture {
    width: 30%;
    height: 60%;
    background: #F7F7F7;
    margin-left: 3.6%;
    margin-top: 5%;
}
.blockText {
    width: 60%;
    height: 100%;
    /* margin-left: 4.5%; */
    /* margin-top: 2%; */
    box-sizing: border-box;
    padding-top: 5%;
    padding-left: 5%;
}
.nameProductText {
    font-size: 20px;
}
.amountText {
    font-size: 14px;
    margin-top: 5%;
}
.priceText{
    font-size: 14px;
}
.vitaminsText {
    font-size: 11.25px;
}
.cross {
    margin-top: -2%;
    width: 2vw;
    height: 2vw;
    box-sizing: border-box;
    text-align: center;
    margin-left: 93%;
    position: absolute;
}

.chooseProducts {
    width: 55%;
    background: white;
    box-sizing: border-box;
    padding: 2%;
    border-radius: 20px;
}
.chooseProductsText {
    font-size: 27px;
    margin-left: 1.9%;
    font-family: 'Roboto', sans-serif;
}
.category {
    width: 100%;
    height: 90px;
    margin-top: 5px;
    /* background: #F1F1F1; */
    border-radius: 18.75px;
}
.categoryText {
    font-size: 13.5px;
    margin-left: 2%;
    padding-top: 6px;
    font-family: 'Roboto', sans-serif;
}
.categoryBlocks{
    height: 70px;
    width: 96%;
    margin: 0 auto;
    /* display: flex; */
    margin-top: 5px;
    overflow-x: auto;
    /* flex-wrap: wrap; */
    white-space: nowrap;
    overflow-y: hidden;
}
.categoryBlock1 {
    margin-bottom: 7px;
    width: 60px;
    height: 60px;
    background: #8C8C8C;
    border-radius: 28.5px;
    display: inline-block;
}

.categoryBlocks::-webkit-scrollbar {
    height: 5px;
}

.popularity {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.select {
    position: relative;
    background: #FFC052;
    border-radius: 6px;
    width: 28%;
    height: 100%;
}
.select select {
    background: none;
    border: 0;
    padding: 4%;
    width: 100%;
    border-radius: 10px;
}

.inputSearchText {
    width: 30%;
}

.productSelectionBox {
    width: 100%;
    margin-top: 25px;
    height: 55vh;
}
.productSelectionBox1 {
    width: 94%;
    height: 55vh;
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.productBox {
    width: 165px;
    height: 215px;
    background: #ffffff;
    border: solid 0.1vw #80808045;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 15px;
    filter: drop-shadow(0px 0px 5px rgba(184, 175, 143, 0.5));
}
.productName {
    width: 100%;
    height: 142px;
    text-align: center;
    line-height: 18px;
    font-size: 18px;
}
.amount {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
}
.amountText1 {
    font-size: 14px;
    width: 70%;
    line-height: 30px;
    text-align: center;
}
.amountInput {
    width: 30%;
    border: 0;
    border-radius: 20px;
    text-align: center;
}
.look {
display: none
}
.background {
    display: none;
}

@media screen and (max-width: 1400px) {
    .noteImg {
        width: 28%;
    }
    .productBox {
        width: 150px;
        height: 200px;
    }
    .productName {
        height: 125px;
        line-height: 20px;
        font-size: 16px;
    }
    .amountText1 {
        font-size: 13px;
        width: 90%;
        line-height: 24px;
    }
    .priceText {
        font-size: 13px;
    }
    .shoppingListBlock {
        height: 125px;
    }
    .note {
        width: 95%;
    }
    .cross {
        margin-top: -1%;
        width: 3vw;
        height: 3vw;
        margin-left: 90%;
    }
    .nameProductText {
        font-size: 15px;
    }
}

@media screen and (max-width: 1295px) {
    .productBox {
        width: 130px;
        height: 180px;
    }
    .productName {
        height: 105px;
        line-height: 20px;
        font-size: 14px;
    }
    .amountText1 {
        font-size: 12px;
        width: 100%;
        line-height: 24px;
    }
    .amountInput {
        font-size: 12px;
    }
    
}

@media screen and (max-width: 1155px) {
    .productBox {
        width: 120px;
        height: 170px;
    }
    .productName {
        font-size: 11px;
    }
    .amountText1 {
        font-size: 9px;
    }
    .amountInput {
        font-size: 9px;
    }
    .productName {
        height: 105px;
        line-height: 14px;
    }
}

@media screen and (max-width: 1085px) {
    .productBox {
        width: 110px;
        height: 160px;
    }
    .productName {
        height: 95px;
    }
    .noteImg {
        height: 75vh;
    }
    .shoppingListBlocks {
        height: 65vh;
    }
}

@media screen and (max-width: 1010px) {
    .productBox {
        width: 100px;
        height: 150px;
    }
    .productName {
        height: 85px;
    }
}

@media screen and (max-width: 945px) {
    .productBox {
        width: 90px;
        height: 140px;
    }
    .productName {
        height: 75px;
        font-size: 9px;
    }
    .nameProductText {
        font-size: 13px;
    }
    .amountText {
        font-size: 11px;
    }
    .priceText {
        font-size: 11px;
    }
    .shoppingListBlock {
        height: 110px;
    }
    
}
@media screen and (max-width: 871px) {
    .productBox {
        width: 80px;
        height: 115px;
    }
    .productName {
        height: 65px;
        font-size: 8px;
    }
    .amountInput {
        font-size: 8px;
    }
    .amountText1 {
        font-size: 8px;
    }
    .amountText {
        font-size: 11px;
    }
    .priceText {
        font-size: 11px;
    }
    .noteImg {
        height: 65vh;
    }
    .shoppingListBlocks {
        height: 55vh;
    }
    
}

@media screen and (max-width: 801px) {
    .shoppingList {
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .noteImg {
        width: 88%;
    }
    .shoppingList {
        display: none;
        position: absolute;
        z-index: 3;
        width: 70vw;
        left: 0;
        right: 0;
        margin-left: 16%;
    }
    .chooseProducts {
        width: 55%;
        background: white;
        box-sizing: border-box;
        padding: 2%;
        border-radius: 20px;
        margin: auto;
    }
    .main {
        margin: auto;
        margin-top: 10%;
    }
    .chooseProducts {
        width: 90vw;
        height: 90vh;
    }
    .productBox {
        width: 110px;
        height: 160px;
    }
    .productName {
        height: 95px;
        font-size: 12px;
    }
    .amountInput {
        font-size: 11px;
    }
    .amountText1 {
        font-size: 11px;
    }
    .productSelectionBox1 {
        height: 60vh;
    }
    .look {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 22%;
        height: 4.5vw;
        margin-top: 12%;
        margin-right: 8%;
        font-size: 2vw;
        color: #FFFFFF;
        box-shadow: 2px 4px 7px -1px rgb(0 0 0 / 25%);
        border-radius: 100px;
        font-family: 'Roboto Slab';
        font-style: normal;
        background: url(/images/main/btn1.jpg) no-repeat center center;
        text-shadow: 0px 4px 4px rgb(0 0 0 / 38%), 0px 1px 5px rgb(234 84 0 / 63%);
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        padding-top: 1.5vw;
    }
    .background {
        display: block;
        background-color: black;
        opacity: 0.5;
        width: 100vw;
        height: 100vh;
        position: absolute;
        margin-top: -10%;
        z-index: -2;
    }
    .note {
        width: 95%;
    }
    .cross {
        margin-top: -2%;
        width: 5vw;
        height: 5vw;
        margin-left: 93%;
    }
    .shoppingListBlock {
        height: 140px;
    }
    .shoppingListPicture {
        width: 34%;
        height: 70%;
    }
    .nameProductText {
        font-size: 20px;
    }
    .amountText {
        font-size: 14px;
    }
    .priceText {
        font-size: 14px;
    }
}

@media screen and (max-width: 715px) {
    .productBox {
        width: 130px;
        height: 180px;
    }
    .amount {
        margin-top: 20px;
    }
}

@media screen and (max-width: 611px) {
    .productBox {
        width: 110px;
        height: 180px;
    }
}

@media screen and (max-width: 537px) {
    .productBox {
        width: 145px;
        height: 200px;
    }
    .amountText1 {
        font-size: 12px;
    }
    .amountInput {
        font-size: 12px;
    }
    .productName {
        font-size: 14px;
    }
    .productName {
        height: 170px;
    }
    .amount {
        margin-top: -10px;
    }
    .productName {
        height: 140px;
    }
}

@media screen and (max-width: 450px) {
    .productBox {
        width: 125px;
        height: 190px;
    }
    .amountText1 {
        font-size: 11px;
    }
    .amountInput {
        font-size: 11px;
    }
    .productName {
        font-size: 12px;
    }
}