/*Вход
************************************************************/
a{
color: #f77315;
}
a:visited{
color: #f77315;
}
a:hover {
color: #ffeebb; /* Цвет активных ссылок */
  }

  body{
    background:url('/images/profile/fonDesktop.png') no-repeat center center fixed;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: cover;
    position: absolute;
    z-index: -1;
    top: 0px;
    right: 0px;
     width:100%; /*width of your image*/
     height:100%; /*height of your image*/
     margin:0; /* If you want no margin */
     padding:0; /*if your want to padding */
  }

.parents{
    width: 100%;
    height: 100%;
    position: absolute;
}

.login{
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: auto;

width: 500px;
height: 500px;

background: #F8F8F8;
box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
border-radius: 11px;
}

.log_zagolovok{
  position: absolute;
  width: 500px;
  height: 51px;
  justify-content: center;
  top: 50px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 15px;
  /* or 42% */
  display: flex;
  align-items: center;
  text-align: center;

  color: #303030;
  }

  .col-75 {
  /* Rectangle 139 */

  position: absolute;
  width: 388px;
  height: 66px;

  background: #FFFFFF;
  border-radius: 6px;
  outline: none;
  border: none;

  margin-top: 150px;
  margin-left: 53px;
  text-indent: 15px;
  justify-content: center;
  }

  .name_log{
      /* Имя */

  position: absolute;
  width: 384px;
  height: 17px;
  margin-top: 120px;
  margin-left: 53px;

  font-family: 'Roboto';
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;
  /* or 94% */
  display: flex;
  align-items: center;

  color: #000000;
  }

  /**оформить*****************************************************/

  .button{
    /* Rectangle 144 */

  position: absolute;
  width: 250px;
  height: 60px;
  left: 125px;
  top: 380px;
  border: 0;
  cursor: pointer;

  background: #ff8c10;
  box-shadow: 2px 4px 7px -1px rgba(0, 0, 0, 0.25);
  border-radius: 35px;

  /* ЗАРЕГИСТРИРОВАТЬСЯ */
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  color: rgb(255, 255, 255);
  }

  .question{
  position: absolute;
  width: 500px;
  text-align: center;
  top: 520px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;

  color: #000000;
  }

  .error{
    position: absolute;
    width: 514px;
    justify-content: center;
    top: -40px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;

    display: flex;
    align-items: center;
    text-align: center;
    color: #ff2424;
  }
