*{
    margin: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
    font-family: 'Roboto', sans-serif;
}
img { 
    pointer-events: none; 
}
::-webkit-scrollbar {
    background: rgba(209, 121, 17, 0.16);
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    border: 1px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb {
    background-color: #FFA96A;
    border-radius: 20px;
}

.wapper {
    background: url(/images/recipes/fonLight.png) no-repeat center center;
    background-size: cover;
    position: fixed;
    z-index: -1;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.headingFilter {
    font-size: 1.8vw;
    margin-top: 1%;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.017em;
}

.boxFilter {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    /* margin: auto; */
    border-radius: 20px;
    margin-top: 2%;
}

.upTextFilter {
    display: flex;
    width: 84%;
    height: 3vw;
    margin: 2% 0% 0% 2%;
    /* justify-content: space-evenly; */
}

.upTextFilter_1 {
    font-size: 1.4vw;
    padding-right: 5%;
}


/***чекбокс*******************************************************/
.checkbox_reg {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .checkbox_reg input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .checkbox_reg input:checked ~ .checkbox__checkmark {
    background-color: #ffffff;
    border: #cfcfcf solid 0.2vw;
  }
  .checkbox_reg input:checked ~ .checkbox__checkmark:after {
    opacity: 1;
  }
  .checkbox_reg:hover input ~ .checkbox__checkmark {
    background-color: #eee;
  }
  .checkbox_reg:hover input:checked ~ .checkbox__checkmark {
    background-color: #ffffff;
    border: #cfcfcf solid 0.2vw;
  }
   .checkbox__checkmark {
    height: 1.5vw;
    width: 1.5vw;
    background-color: #ffffff;
    border: #cfcfcf solid 0.2vw;
    transition: background-color 0.25s ease;
    border-radius: 4px;
  }
  .checkbox__checkmark:after {
    content: "";
    position: absolute;
    left: 21.9vw;
    top: -0.5vw;
    width: 0.7vw;
    height: 2vw;
    border: solid rgb(52 219 43);
    border-width: 0 0.3vw 0.25vw 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.25s ease;
  }
  .checkbox__body {
    width: 20vw;
    height: 39px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4vw;
    padding-left: 1vw;
    color: #ff9800;
  }

  .checkbox__body.active {
    color: #4124e6;
  }

/***Ползунок*******************************************************/

*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
    width: 82.5%;
    height: 4vw;
    margin-left: 2%;
}
input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.slider-track{
    width: 100%;
    height: 0.5vh;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}
input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}
input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #ff9800;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}
input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #ff9800;
    pointer-events: auto;
}
input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #ff9800;
    pointer-events: auto;
}
input[type="range"]:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 3px solid #ff9800;
}
.values {
    width: 100%;
    display: flex;
    position: relative;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 1.4vw;
    margin: 0% 0% 0% 2%;
}
.val {
    padding-right: 2%;
}
/********************************************************/

.choice {
    display: flex;
    width: 97%;
    height: 3vw;
    margin-left: 2%;
    align-items: center;
}
.choiceText {
    font-size: 1.4vw;
}
.ingredients {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 1%;
    padding-top: 1%;
}

.upeerText {
    display: flex;
    width: 100%;
    height: auto;
}

.boxIngredient {
    width: 97%;
    height: auto;
    margin-left: 2%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.boxScroll {
    width: 97%;
    height: 53%;
    box-sizing: border-box;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 1%;
}

.boxScroll::-webkit-scrollbar {
    background: rgba(209, 121, 17, 0.16);
    width: 5px;
    height: 5px;
}

.boxScroll::-webkit-scrollbar-thumb {
    background-color: #FFA96A;
    border-radius: 20px;
}


.boxScroll::-webkit-scrollbar-track {
    border: 1px solid transparent;
    background-clip: content-box;
}

.textCut {
    width: 100%;
    height: auto;
    font-size: 1.2vw;
    padding-bottom: 2%;
}

.categoryImage {
    display: inline-block;
    vertical-align: top;
    background-color: rgb(105, 105, 105);
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    margin-right: 0.3%;
    pointer-events:all;
    
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

.box {
    justify-content: space-between;
}

.boxFood {
    width: 100%;
    height: 95%;
    box-sizing: border-box;
    flex-direction:row;
    flex-wrap:wrap;
    overflow: hidden;
    overflow: auto;
    display: flex;
    margin-top: 2%;
}

.productBox {
    width: 160px;
    height: 215px;
    background: #ffffff;
    border: solid 0.1vw #80808045;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 15px;
    filter: drop-shadow(0px 0px 5px rgba(184, 175, 143, 0.5));
}

.foodImage {
    width: 90%;
    height: 75%;
    /* margin-left: 3%; */
    margin: auto;
    margin-top: 5%;
}

.recipe {
    width: 40%;
    height: 107vh;
    padding-left: 3%;
    /* padding-right: 3%; */
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.boxInstrumentation {
    width: 98%;
    height: 9.3vw;
    background-color: rgb(231, 231, 231);
    margin-top: 2%;
    border-radius: 20px;
    padding: 1%;
    font-size: 1.3vw;
    box-sizing: border-box;
}

.instrumentationImage {
    display: inline-block;
    vertical-align: top;
    background-color: rgb(105, 105, 105);
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    margin-right: 0.3%;
    margin-top: 1%;
}

.searchRecipe {
    width: 98%;
    height: 80%;
    background-color: antiquewhite;
}

.boxRecipe {
    width: 90%;
    height: 100vh;
    background-color: rgb(241 241 241);
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    overflow: auto;
    margin-top: 2%;
    border-radius: 20px;
}

.recipeReady {
    width: 90%;
    height: 13vw;
    margin: auto;
    margin-top: 3%;
    border-radius: 30px;
    background-color: white;
}
.recipeReady.active {
    background-color: rgb(255, 218, 169);
    transition: all 0.4s ease;
}

.recipeReady_descript {
    height: 100%;
    width: 50%;
    background: #ffffff;
    border-radius: 0px;
    font-size: 0.8vw;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
    padding-top: 2%;
    padding-left: 2%;
}
.recipeReady_descript.active {
    display: none;
    transition: all 0.4s ease;
}

.recipeReady_img {
    width: 15vw;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.recipeReady_img.active {
    display: none;
    transition: all 0.4s ease;
}

.recipe__description {
    display: none;
}
.recipe__description.active {
    display: block;
    text-align: center;
    margin: auto;
    transition: opacity 0.4s ease;
}

.select {
    position: relative;
    background: #FFC052;
    border-radius: 6px;
    width: 28%;
    height: 100%;
}
.select select {
    background: none;
    border: 0;
    padding: 4%;
    font-size: 0.8vw;
    width: 100%;
}
.choiceSelect {
    font-size: 1.4vw;
    margin-left: 5%;
}

.search_Box {
    display: flex;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 4%;
    justify-content: space-between;
}

.selectoinBox {
    height: 50vh;
    margin-right: 2%;
    margin-left: 1%;
}

.nameFood {
    width: 97%;
    margin: auto;
    font-size: 14px;
    text-align: center;
    /* bottom: 0; */
    margin-top: 90%;
    overflow-wrap: break-word;
}

.checkbox__bodyProd {
    width: 12vw;
    /* height: 38px; */
    font-style: normal;
    font-weight: normal;
    font-size: 0.8vw;
    padding-left: 1vw;
    padding-top: 3%;
}

#recipeB {
    margin-top: 5%;
    width: 90%;
}

#left:after {
    left: 13.9vw;
  }

  .addSearchSring {
    width: 10vw;
    height: 1vw;
    font-size: 1vw;
  }

  .addTrue {
    width: 15%;
    height: auto;
    margin-left: 45%;
    transition: all 0.4s ease;
  }
  .addFalse {
      width: 10%;
      height: auto;
      margin-left: 90%;
      margin-top: 6%;
      transition: all 0.4s ease;
  }

  /***чекбокс выбранные ингридиенты*******************************************************/
.checkbox_choice {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .checkbox_choice input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .checkbox_choice input:checked ~ .checkbox__checkmark_choice {
    background-color: #ffffff;
    border: #ffffff solid 0.2vw;
  }
  .checkbox_choice input:checked ~ .checkbox__checkmark_choice:after {
    opacity: 1;
  }
  .checkbox_choice:hover input ~ .checkbox__checkmark_choice {
    background-color: rgb(255, 255, 255);
  }
  .checkbox_choice:hover input:checked ~ .checkbox__checkmark_choice {
    background-color: #ffffff;
    border: #fafafa solid 0.2vw;
  }
    .checkbox__checkmark_choice {
    background-color: #ffffff;
    border: #00000000 solid 0.2vw;
    border-radius: 4px;
    border-top: 0.7vw solid #808080;
    border-left: 0.7vw solid #ff060600;
    border-right: 0.7vw solid transparent;
    border-bottom: 0;
    }
  .checkbox__checkmark_choice:after {
    background-color: #ffffff;
    border: #00000000 solid 0.2vw;
    border-radius: 4px;
    border-top: 0.7vw solid #808080;
    border-left: 0.7vw solid #ff060600;
    border-right: 0.7vw solid transparent;
    border-bottom: 0;
    width: 1vw;
    height: 1vw;
    content: "";
    position: absolute;
    margin-top: -170%;
    transform: rotate(180deg);
    opacity: 0;
  }
  

@media screen and (max-width: 1505px) {
    .productBox {
        width: 150px;
        height: 205px;
    }
    .selectoinBox {
        height: 60vh;
    }
    .boxFood {
        height: 82%;
    }
    .boxFilter {
        height: 95vh;
    }
    .boxRecipe {
        height: 90vh;
    }
}

@media screen and (max-width: 1420px) {
    .productBox {
        width: 135px;
        height: 190px;
    }
    .nameFood {
        font-size: 12px
    }
}

@media screen and (max-width: 1310px) {
    .productBox {
        width: 120px;
        height: 175px;
    }
    .nameFood {
        font-size: 11px;
        margin-top: 100%;
    }
    .foodImage {
        width: 90%;
        height: 68%;
    }
    .boxFilter {
        height: 90vh;
    }
    .boxRecipe {
        height: 85vh;
    }
}

@media screen and (max-width: 1195px) {
    .productBox {
        width: 105px;
        height: 150px;
    }
    .nameFood {
        font-size: 10px;
        margin-top: 85%;
    }
    .selectoinBox {
        height: 65vh;
    }
    .boxFood {
        height: 65%;
    }
    .boxFilter {
        height: 85vh;
    }
    .boxRecipe {
        height: 80vh;
    }
}

@media screen and (max-width: 1076px) {
    .productBox {
        width: 90px;
        height: 145px;
    }
    .nameFood {
        font-size: 9px;
    }
    .selectoinBox {
        height: 70vh;
    }
    .boxFood {
        height: 60%;
    }
    .boxFilter {
        height: 77vh;
    }
    .boxRecipe {
        height: 72vh;
    }
}

@media screen and (max-width: 960px) {
    .productBox {
        width: 75px;
        height: 115px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .nameFood {
        font-size: 9px;
    }
    .boxFood {
        height: 50%;
    }
    .boxFilter {
        height: 67vh;
    }
    .boxRecipe {
        height: 62vh;
    }
}

@media screen and (max-width: 850px) {
    .productBox {
        width: 70px;
        height: 105px;
    }
}

@media screen and (max-width: 800px) {
    .main800 {
        flex-direction: column;
    }
    .ingredients {
        width: 90%;
        margin: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-left: 0;
        padding-right: 0;
        padding-top: 5%;
    }
    #headingFil {
        margin-top: 7%;
    }
    .container {
        width: 96%;
        height: 10vw;
        margin-left: 2%;
    }
    .headingFilter {
        font-size: 29px;
        margin: auto;
    }
    .upTextFilter_1 {
        font-size: 3vw;
    }
    .checkbox__body {
        font-size: 2.6vw;
    }
    .upTextFilter {
        width: 98%;
    }
    .checkbox__body {
        width: auto;
    }
    .checkbox__checkmark {
        height: 2.5vw;
        width: 2.5vw;
    }
    .checkbox_reg {
        justify-content: space-around;
        width: 45%;
    }
    .checkbox__checkmark:after {
        left: 36.9vw;
        top: -0.5vw;
        width: 1vw;
        height: 3vw;
        border-width: 0 0.3vw 0.3vw 0;
    }
    .values {
        font-size: 3vw;
        padding-top: 3%;
    }
    .choiceText {
        font-size: 3vw;
    }
    .choiceSelect {
        font-size: 3vw;
    }
    .checkbox__checkmark_choice {
        border-top: 2vw solid #808080;
        border-left: 2vw solid #ff060600;
        border-right: 2vw solid transparent;
    }
    .checkbox__checkmark_choice:after {
        border-top: 2vw solid #808080;
        border-left: 2vw solid #ff060600;
        border-right: 2vw solid transparent;
    }
    .textCut {
        font-size: 2.8vw;
        padding-top: 2%;
    }
    .boxScroll {
        height: 9vw;
    }
    .categoryImage {
        width: 7vw;
        height: 7vw;
    }
    .select select {
        font-size: 1.5vw;
    }
    .addSearchSring {
        width: 20vw;
        height: 2vw;
        font-size: 1.5vw;
    }
    .nameFood {
        font-size: 12px;
    }
    .productBox {
        width: 135px;
        height: 180px;
    }
    .boxFood {
        height: 70%;
    }
    .boxFilter {
        height: 95vh;
    }
    .recipe {
        width: 90%;
        margin: auto;
    }
    .boxRecipe {
        width: 100%;
    }
    #recipeB {
        width: 100%;
        align-items: center;
    }
    .checkbox__bodyProd {
        width: auto;
        font-size: 2vw;
    }
    .checkbox__bodyProd {
        padding-top: 1%;
    }
    .recipeReady {
        width: 90%;
        height: 30vw;
    }
    .recipeReady_img {
        width: 34vw;
    }
    .recipeReady_descript {
        height: 100%;
        width: 50%;
        font-size: 2vw;
        padding-top: 3%;
        padding-left: 3%;
    }
    .boxRecipe {
        width: 100%;
        height: 90vh;
    }
    #left:after {
        left: 35.9vw;
    }
}


@media screen and (max-width: 790px) {
    .productBox {
        width: 125px;
    }
    .boxFood {
        height: 66%;
    }
    .boxFilter {
        height: 95vh;
    }
}

@media screen and (max-width: 740px) {
    .productBox {
        width: 110px;
        height: 175px;
    }
    .boxFilter {
        height: 91vh;
    }
}

@media screen and (max-width: 670px) {
    .productBox {
        width: 95px;
        height: 145px;
    }
    .boxFood {
        height: 60%;
    }
    .boxFilter {
        height: 83vh;
    }
    
}
@media screen and (max-width: 593px) {
    .productBox {
        width: 80px;
        height: 125px;
    }
    .nameFood {
        font-size: 9px;
    }    
    .boxFood {
        height: 50%;
    }
    .boxFilter {
        height: 72vh;
    }
}

@media screen and (max-width: 535px) {
    .productBox {
        width: 80px;
        height: 110px;
    }
    .nameFood {
        font-size: 9px;
        margin-top: 75%;
    }    
    .boxFood {
        height: 40%;
    }
    .productBox {
        margin: 10px;
    }
    .boxFilter {
        height: 62vh;
    }
}

@media screen and (max-width: 490px) {
    .boxFood {
        height: 42%;
    }
    .productBox {
        margin: 5px;
    }
}

@media screen and (max-width: 435px) {
    .productBox {
        width: 70px;
        height: 110px;
    }
    .boxFood {
        height: 40%;
    }
    .boxFilter {
        height: 56vh;
    }
}

@media screen and (max-width: 390px) {
    .productBox {
        width: 75px;
    }
    .boxFilter {
        height: 54vh;
    }
}

@media screen and (max-width: 310px) {
    .productBox {
        width: 65px;
    }
    .boxFilter {
        height: 50vh;
    }
    .nameFood {
        font-size: 8px;
        margin-top: 83%;
    }
}
