*{
    margin: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing:0.017em;
}
img { 
    pointer-events: none; 
}
body {
    margin: 0;
    background: url(/images/inventoryImg/fon-addr.png) repeat top center;
    width: 100%;
    height: 100%;
    overflow:  hidden;
}
::-webkit-scrollbar {
    background: rgba(209, 121, 17, 0.16);
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    border: 1px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb {
    background-color: #FFA96A;
    border-radius: 20px;
}

.wapper {
    background: url(/images/recipes/fonLight.png) no-repeat center center;
    background-size: cover;
    position: fixed;
    z-index: -1;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.headingFilter {
    font-size: 29px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.017em;
}
/********************************************************/

.ingredients {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 1%;
    padding-top: 1%;
}

.upeerText {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 3%;
}

.box {
    width: auto;
    justify-content: space-between;
    align-items: center;
}

.boxFood {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    flex-direction:row;
    flex-wrap:wrap;
    overflow: hidden;
    overflow: auto;
    display: flex;
    margin-top: 2%;
}

.recipe {
    width: 80vw;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.allbox {
    width: 80vw;
    height: 75vh;
    background-color: rgb(241 241 241);
    margin-top: 2%;
    border-radius: 20px;
}

.boxRecipe {
    width: 99%;
    height: 100%;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    overflow: auto;
    display: flex;
    border-radius: 20px;
}
.recipeReady {
    width: 450px;
    height: 250px;
    margin: 15px;
    border-radius: 30px;
    background-color: white;
}
.recipeReady.active {
    background-color: rgb(255, 218, 169);
    transition: all 0.4s ease;
}

.recipeReady_descript {
    height: 100%;
    width: 58%;
    background: #ffffff;
    border-radius: 0px;
    font-size: 14px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
    padding-top: 15%;
    padding-left: 2%;
}
.recipeReady_descript.active {
    display: none;
    transition: all 0.4s ease;
}

.recipeReady_img {
    width: 10vw;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.recipeReady_img.active {
    display: none;
    transition: all 0.4s ease;
}

.recipe__description {
    display: none;
}
.recipe__description.active {
    display: block;
    text-align: center;
    margin: auto;
    transition: opacity 0.4s ease;
}
.select {
    position: relative;
    background: #FFC052;
    border-radius: 6px;
    width: 20%;
    height: 100%;
}
.select select {
    background: none;
    border: 0;
    padding: 4%;
    font-size: 14px;
    width: 100%;
}

.search_Box {
    display: flex;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 4%;
    justify-content: space-between;
}

.selectoinBox {
    height: 50%;
    margin-right: 2%;
    margin-left: 1%;
}

#recipeB {
    margin-top: 2%;
}

#left:after {
    left: 13.9vw;
}

.addSearchSring {
    width: 15vw;
    height: 2vw;
    font-size: 1vw;
}

@media only screen and (max-width: 1700px) {
    .recipeReady {
        width: 380px;
        height: 220px;
    }
}

@media only screen and (max-width: 1565px) {
    .recipeReady {
        width: 355px;
        height: 200px;
    }
    .recipe__description {
        font-size: 13px;
    }
}

@media only screen and (max-width: 1470px) {
    .recipeReady {
        width: 330px;
        height: 190px;
    }
    .recipeReady_descript {
        font-size: 13px;
    }
    .recipe__description {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1380px) {
    .recipeReady {
        width: 310px;
        height: 200px;
        margin: 12px;
    }
    .recipeReady_descript {
        font-size: 12px;
    }
    .upeerText {
        margin-top: 5%;
    }
}

@media only screen and (max-width: 1280px) {
    .recipeReady {
        width: 280px;
        height: 180px;
    }
    .recipeReady_descript {
        font-size: 12px;
        padding-top: 10%;
    }
    .recipe__description {
        font-size: 11px;
    }
}

@media only screen and (max-width: 1190px) {
    .recipeReady {
        width: 260px;
        height: 160px;
    }
    .recipeReady_descript {
        font-size: 11px;
    }
}

@media only screen and (max-width: 1115px) {
    .recipeReady {
        width: 240px;
        height: 140px;
    }
    .recipeReady_descript {
        font-size: 10px;
    }
    .recipe__description {
        font-size:9px;
    }
}

@media only screen and (max-width: 1035px) {
    .recipeReady {
        width: 230px;
        height: 140px;
    }
    .recipeReady_descript {
        font-size: 9px;
    }
}

@media only screen and (max-width: 1000px) {
    .recipeReady {
        width: 215px;
        height: 140px;
        margin: 8px;
    }
    .recipeReady_descript {
        font-size: 9px;
    }
}

@media only screen and (max-width: 900px) {
    .recipeReady {
        width: 195px;
        height: 130px;
        margin: 5px;
    }
    .recipeReady_descript {
        font-size: 8px;
    }
    .recipe__description {
        font-size: 7px;
    }
}

@media only screen and (max-width: 800px) {
    .recipeReady {
        width: 520px;
        height: 215px;
        margin: 10px;
    }
    .recipeReady_descript {
        font-size: 14px;
    }
    .recipe__description {
        padding: 1%;
        font-size: 14px;
    }
    .recipeReady_img {
        width: 27vw;
    }
    .upeerText {
        margin-top: 8%;
    }
    .addSearchSring {
        font-size: 14px;
    }
    .boxRecipe {
        display: block;
    }
    .select {
        width: 37%;
    }
    .addSearchSringBlock {
        margin-top: -15vw;
    }
}

@media only screen and (max-width: 690px) {
    .recipeReady {
        width: 465px;
    }
}

@media only screen and (max-width: 620px) {
    .recipeReady {
        width: 400px;
    }
}

@media only screen and (max-width: 530px) {
    .recipeReady {
        width: 335px;
        height: 160px;
    }
    .recipeReady_descript {
        font-size: 12px;
    }
    .recipe__description {
        font-size: 11px;
    }
}